<a href="https://colab.research.google.com/github/tohnperfect/DPDM65/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [5]:
unit_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_unittype.csv')
unit_df.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,คอนโด,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/เฟ-ลิค-คอนโด-ลาด...
1,28777,unittype_10267,project_3543,บ้านแฝดสองชั้น Z-2,20000,Twin house,บ้านแฝด,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/เซน-บาย-ศิวาลัย-...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,คอนโด,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/วันพลัส-นายน์ทีน...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,คอนโด,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/บ้านสวนชมน้ำ-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,ทาวน์โฮม,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/เบล็สทาวน์-ศรีนค...

# Data Cleaning

## Dealing with missing data

### check missing data

In [6]:
project_df.describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,23429.000000,23434.000000,23429.000000,23415.000000,23424.000000,23425.000000,23403.000000,21547.000000,18603.000000,6820.000000,8895.000000,2890.000000,11675.000000,6277.000000,9718.000000,16123.000000
mean,11715.000000,16.399159,100.600086,4216.201751,4001.917435,3942.592231,28209.221211,199.043765,2.325861,0.724340,0.848679,0.224913,0.894304,0.697308,0.874048,0.959809
std,6763.514064,176.896370,0.947247,2476.968321,1662.485878,1663.662562,24724.177495,320.029641,2.138378,0.446879,0.358382,0.417598,0.307461,0.459460,0.331812,0.196413
min,1.000000,6.839354,97.985808,1007.000000,1006.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5858.000000,13.347151,100.400282,3414.000000,3411.000000,3372.000000,10400.000000,49.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,11715.000000,13.753725,100.601281,3802.000000,3800.000000,3781.000000,20000.000000,108.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17572.000000,13.946742,100.912703,4527.000000,4000.000000,3781.000000,40000.000000,240.000000,3.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,23429.000000,12160.000000,105.222114,20688.000000,20003.000000,10508.000000,390000.000000,10074.000000,96.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
project_df.isnull()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23430,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
23431,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23432,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
23433,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False

In [8]:
project_df.isnull().any() # .any() เอาค่าความจริงใน column มา or กัน

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [9]:
project_df.isnull().any().any()

True

In [10]:
project_df.isnull().all()  # .all() เอาค่าความจริงใน column มา and กัน

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
developer_name_th         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
date_created              False
date_finish               False
date_updated              False
source                    False
url_project               False
dtype: bool

### delete records with missing data (```dropna()```)


null, Nan (Not a Number), Na (Not authorised/ Not available) == missing

In [11]:
project_df.shape

(23434, 45)

In [12]:
unit_df.shape

(42625, 27)

In [13]:
project_df.dropna()

Empty DataFrame
Columns: [row_number, project_id, name_en, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, price_min, developer_id, developer_name_en, developer_name_th, latitude, longitude, neighborhood_id, neighborhood_name_en, neighborhood_name_th, subdistrict_id, subdistrict_name_en, subdistrict_name_th, district_id, district_name_en, district_name_th, province_id, province_name_en, province_name_th, zipcode, count_elevator, count_elevator_service, count_floor, count_parking, count_tower, count_unit, count_unittype, facility_clubhouse, facility_fitness, facility_meeting, facility_park, facility_playground, facility_pool, facility_security, date_created, date_finish, date_updated, source, url_project]
Index: []

[0 rows x 45 columns]

In [14]:
unit_df.dropna()

Empty DataFrame
Columns: [row_number, unittype_id, project_id, name_th, propertytype_id, propertytype_name_en, propertytype_name_th, area_total_min_wa, area_usable_min, price_min, count_airconditioner, count_elevator, count_floor_internal, count_parking, count_room_bath, count_room_bed, count_room_dinning, count_room_guest, count_room_kitchen, count_room_living, count_room_maid, count_room_storage, count_room_utility, date_created, date_updated, source, url_unittype]
Index: []

[0 rows x 27 columns]

In [15]:
project_df.dropna(axis=1)

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246
...,...,...,...,...,...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,developer_1760,13.814468
23430,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,developer_1793,13.834361
23431,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,developer_2217,13.859872
23432,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,developer_1004,18.808447
23433,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,developer_10510,12.684945

In [16]:
project_df.dropna(axis=1).isnull().any().any()

False

In [19]:
print(project_df.isnull().any().any())
print(project_df.shape)

True
(23434, 45)

In [21]:
project_df2 = project_df.dropna(axis=1)
project_df2.head()

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,developer_id,latitude
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,developer_10678,13.570530
1,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,developer_7319,13.033814
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,developer_10510,13.417402
3,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,developer_10510,15.038042
4,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,developer_1026,13.965246

In [26]:
project_df.iloc[:5,-7:]

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [27]:
project_df.iloc[:5,-7:].dropna(thresh=5)

,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
3,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [28]:
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [30]:
project_df.dropna(subset=['propertytype_name_en','price_min'])

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,บ้านกลางเมือง เออร์บาเนี่ยน ลาดพร้าว-โชคชัย 4,3,Townhome,ทาวน์โฮม,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,NaN,1.0,1.0,NaN,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/บ้านกลางเมือง-เอ...
23430,21181.0,project_12057,@Home Kaset-Nawamin,แอทโฮม เกษตร-นวมินทร์,3,Townhome,ทาวน์โฮม,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/แอทโฮม-เกษตร-นวม...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,ไอ-ดีไซน์ วงแหวน-รามอินทรา,4,Commercial,อาคารพาณิชย์,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/ไอ-ดีไซน์-วงแหวน...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,กุลพันธ์วิลล์ 15 พาร์ค อเวนิว,1,Detached House,บ้าน,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,NaN,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/กุลพันธ์วิลล์-15...
23433,5529.0,project_16300,Thawisuk Garden Home,ทวีสุข การ์เด้นโฮม,1,Detached House,บ้าน,2800000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/ทวีสุข-การ์เด้นโ...

In [31]:
project_df.dropna(subset=['propertytype_name_en','price_min']).isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [32]:
project_df.dropna(subset=['propertytype_name_en','price_min'],inplace=True)

## Quiz 3

1. กำจัดค่า missing โดยการตัด column ให้น้อยที่สุด โดยที่จำนวน records ที่ไม่มี missing เลย ยังเหลือมากกว่า 80%

2. สร้าง data ที่ ค่าใน columns [price_min,neighborhood_name_en,developer_name_en] มี missing ไม่เกิน 1 ค่า

In [33]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/opendata_project.csv')
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...